
h1{
    color: cornflowerblue;
}
.class5{
    border-top-right-radius: 0in;
    text-align: center;}
   
th,td{text-align: left;
    border: 2px solid black;
    padding: 2px;
}
body{
    background-color: burlywood;
    text-align: center;
    
}
h2,p,{text-align: center;}
table{align-items: center;}
